body {
  margin: 0;
  font-family: monospace;
}

.body-container {
  display: flex;
}

.bars-container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

#code-container {
  padding-top: 50px;
  font-size: 16px;
  width: 300px;
}

.comp-container {
  font-size: 20px;
  width: 300px;
}

.bars {
  flex: 1 1;
  /*background-color: blue;*/
  display: inline-block;
  margin: 0 1px;
}

.header-container {
  background-color: #34495e;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container > div {
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.header-container > div:active {
  color: rgba(169, 92, 232, 0.8);
}

label {
  color: white;
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
}
